h1::before{
    content: url(../assets/apple.ico);
}
h1::after{
    content: url(../assets/apple.ico);
}
h1{
    color: red;
}
p::first-letter{
    color: red;
    font-size: 100px;
}
p::first-line{
    color: blue;
}